
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url("../images/woodbg.jpg");
}
header {
    margin: 10px;
    width: 98%;
}
br{
    display: none;
}
}
nav {
    height: 100px;
    right: 0;
}
nav a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: "lobster";
}
h1 {
    font-family: "lobster";
    float: left;
    margin: 0;
}
h2 {
    font-family: "lobster";
    font-size: 40px;
    text-align: center;
    margin: 50px;
}
form {
    margin:10px;
    position: absolute;
    left: 30%;
    top: 23%;
}
form label {
    display: block;
    margin-bottom:.2em;
    font-family:"lobster",
    sans-serif;
    font-size:13px;
    line-height:13px;
    font-size:1.3rem;
    line-height:1.3rem;
    color:#000;
}
form label.error {
    margin-top:-1em;
    margin-bottom:1em;
    font-size:12px;
    line-height:12px;
    font-size:1.2rem;
    line-height:1.2rem;
    color:#c0392b
}
form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="month"],
form input[type="week"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="time"],
form input[type="url"],
form textarea {
    margin-bottom:1.25em;
    font-family: helvetica;
    font-size:14px;
    line-height:14px;
    font-size:1.4rem;
    line-height:1.4rem;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    background:#e6e6e6;
    border:1px solid #191919;
    -moz-border-radius:0.2em 0.2em 0.2em 0.2em;
    -webkit-border-radius:0.2em 0.2em 0.2em 0.2em;
    border-radius:0.2em 0.2em 0.2em 0.2em
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="month"]:focus,
form input[type="week"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form textarea:focus {
    border-color:#191919;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none
}
form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="date"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="month"][disabled],
form input[type="week"][disabled],
form input[type="email"][disabled],
form input[type="number"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="time"][disabled],
form input[type="url"][disabled],
form textarea[disabled] {
    background:#fff
}
form input[type="text"].error,
form input[type="password"].error,
form input[type="date"].error,
form input[type="datetime"].error,
form input[type="datetime-local"].error,
form input[type="month"].error,
form input[type="week"].error,
form input[type="email"].error,
form input[type="number"].error,
form input[type="search"].error,
form input[type="tel"].error,
form input[type="time"].error,
form input[type="url"].error,
form textarea.error {
    background:#e6e6e6;
    border-color:#c0392b
}
fieldset {
    border:0px;
    margin:0;
    padding:0
}
.required {
    color:#e9266d
}
#success,
#error {
    display:none;
}
#success span,
#error span {
    display:block;
    position:absolute;
    top:0;
    width:100%
}
#success span p,
#error span p {
    margin-top:6em
}
#success span p {
    color:#9bd32d
}
#error span p {
    color:#c0392b
}
#submit{
    font-family: "lobster";
    border-radius: 10px;
}
#button {
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    width: 100px;
    text-align: center;
}
#button:hover {
    background-color: lavender;
    border-radius: 10px;
    font-size: 18px;
}
#menu {
    display: none;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 10px;
    padding: 3px;
}
.clearfix:after {
    content: " ";
    clear: both;
    display: block;
}
fieldset{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
@media only screen and (max-width: 660px) {
    header{
        margin-bottom: 30px;
    }
    #name{
        width: 270px;
    }
    #email{
        width: 270px;
    }
    #phone{
        width: 270px;
    }
    #message{
        width: 300px;
    }
    form label {
    display: block;
    margin-bottom:.2em;
    font-family:"lobster",sans-serif;
    line-height:13px;
    font-size:15px;
    line-height:1.3rem;
    color:#000;
    }
    .footer{
        margin: 0;
    }
    h1{
        font-size: 25px;
    }
    h2{
        position: absolute;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    form {
        margin-top: 50px; 
        margin-bottom: 50px;
        position: absolute;
        left: 4%;
        top: 20%;
    }
    nav a {
        width: auto;
        font-size: 15px;
        display: none;
    }
    #menu {
        cursor: pointer;
        position: absolute;
        right: 20px;
        display: block;
        text-align: center;
        font-size: 25px;
    }
    #menu:hover {
        background-color: lavender;
    }
    nav.open a {
        display: table-row; 

    }
    
    a#button {
        float: none;
        position: absolute;
        right: 10px;   

    }
    #button:hover {
        background-color: lavender;
        border-radius: 5px;
    }
    .clearfix{
        margin-bottom: 10px;
    }
    br{
        display: inline-block;
    }
}
